@using GoshenJimenez.WhereNaYou.Web.ViewModels.Groups;
@model GoshenJimenez.WhereNaYou.Web.ViewModels.Groups.GroupsViewModel

@{
    ViewData["Title"] = "Groups";
}

<h2>Groups</h2>

@{
    if (Model.Groups != null)
    {
        if (Model.Groups.Items.Count > 0)
        {

            <ul data-role="listview" data-inset="true" data-filter="true">
                
                @{ foreach (GroupViewModel group in Model.Groups.Items)
                    {
                        <li><a href="#">@group.Name</a></li>
                    }
                }
            </ul>

           
        }
    }

}